#loader {
    padding-top: var(--header-height);
    height: calc(100vh - 56px);
    background: var(--light);
}

#loader .loader--logo {
    height: 35vh;
    max-height: 60%;
    object-fit: contain;
}

.blink {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
