#carousel .carousel-inner {
    height: 700px;
    background: var(--dark);
}

#carousel .carousel-inner > * {
    margin: auto 0;
}

#carousel .carousel-caption {
    background: rgba(0,0,0,0.5);
}