#description-container {
  /* height: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../../assets/images/trip-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
