#two--buttons .btn-large {
    min-height: 38px;
    height: 10vh;
    max-height: 50px;
    text-transform: uppercase;
    font-family: Nunito, var(--font-family-sans-serif);
}

.no-underline:hover {
    text-decoration: none;
}
.hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
}
.hvr-outline-out:before {
    content: '';
    position: absolute;
    border: var(--primary) solid 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.btn-outline-light.hvr-outline-out:before,
.btn-light.hvr-outline-out:before {
    border-color: var(--light);
}

.btn-outline-secondary.hvr-outline-out:before,
.btn-secondary.hvr-outline-out:before {
    border-color: var(--secondary);
}

.btn-outline-dark.hvr-outline-out:before,
.btn-dark.hvr-outline-out:before {
    border-color: var(--dark);
}

.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}
