/* TO TOP ANIMATION */

.to-top{
    color:var(--light);
    padding-right:1.8em;
    display:inline-block;
    position:relative;
    border-color:var(--light);
    text-decoration:none;
    transition:all .3s ease-out;
}
.to-top:before{
    content:'▲';
    font-size:.9em;
    position:absolute;
    top:10%;
    right:0;
    margin-left:-.7em;
    border:solid .13em var(--light);
    border-radius:10em;
    width:1.4em;
    height:1.4em;
    line-height:1.3em;
    transition:transform .2s ease-in;
}
.to-top:hover{
    color: var(--primary);
    border-color: var(--primary);
}
.to-top:hover:before{
    border-color: var(--primary);
    transform: rotate(360deg);
}