#hero {
    padding: 0;
    height: 100vh;
    position: relative;
}
#hero .overlay {
    padding-top: 56px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

img.img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* TOP TITLE */
#hero--top {
    margin-top: 15vh;
}

#hero--top h1 {
    font-size:calc(2.5rem + 2.5vw);
}

#hero--top h3 {
    font-size:calc(1.75rem + 1vw);
}

#hero--top #about {
    padding-top: 2vh;
    margin: auto;
    width: 60vw;
    max-width: 800px;
}

/* MIDDLE BUTTONS */
#hero .btn {
    min-height: 38px;
    height: 10vh;
    max-height: 50px;
}

#hero--middle {
    margin-top: 20vh;
    margin-right: 0;
    margin-left: 0;
}

/* BOTTOM ARROW */
#hero--bottom {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#arrow {
    height: 50px;
}