.btn-gradient {
    width:40%;
    position: relative;
    display: inline-block;
    float: left;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0 0 0 rgba(78, 72, 72, 0.4);
}

#button-group .btn-block {
    font-size:23px;
    padding: 0;
    color: var(--light);
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-group .btn-block:hover {
    color: var(--light);
    text-decoration: none;
}

.btn-green {
    background-color: #47a447;
}
.btn-green:hover {
    background-color: #3a863a;
}

.btn-github{
    background-color: #5a5a5a;
}
.btn-github:hover {
    background-color: #4a4a4a;
}

.btn-linkedin{
    background-color: #0074af;
}

.btn-linkedin:hover{
    background-color: #005e8c;
}

.btn-text{
    width: 60%;
    text-align: center;
}

.btn-gradient i{
    font-size:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}