#hero {
    padding: 0;
    height: 100vh;
    min-height: 561px;
    position: relative;
}
#hero .overlay {
    padding-top: 56px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

/* BACKGROUND IMAGE */
img.bg-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
/*    transition: transform 2s;*/
/*}*/

/*img.img-fluid:hover {*/
/*    transform: scale(1.15);*/
}

/* TOP TITLE */
#hero--top {
    margin-top: 15vh;
}

#hero--top h1 {
    font-size:calc(2.5rem + 2.8vw);
}

#hero--top h3 {
    margin-bottom: 0;
    font-size:calc(1.75rem + 1vw);
}

#hero--top #about {
    padding-top: 2vh;
    margin: auto;
    width: 60vw;
    max-width: 800px;
}

/* MIDDLE BUTTONS */

#hero--middle {
    margin-top: 20vh;
    margin-right: 0;
    margin-left: 0;
}

/* BOTTOM ARROW */
#hero--bottom {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
